[submodule "commons"]
	path = commons
	url = https://github.com/mtransitapps/commons.git
[submodule "commons-java"]
	path = commons-java
	url = https://github.com/mtransitapps/commons-java.git
[submodule "commons-android"]
	path = commons-android
	url = https://github.com/mtransitapps/commons-android.git
[submodule "parser"]
	path = parser
	url = https://github.com/mtransitapps/parser.git
