<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <!-- RSS NEWS PROVIDER -->
        <provider
            android:name="org.mtransit.android.commons.provider.RSSNewsProvider"
            android:authorities="@string/rss_authority"
            android:exported="true"
            android:readPermission="${permission_provider_read}"
            tools:ignore="MissingRegistered">
            <meta-data
                android:name="@string/news_provider"
                android:value="@string/news_provider" />
            <meta-data
                android:name="@string/news_provider_target"
                android:value="@string/rss_target_for_poi_authority" />
        </provider>
        <!-- YOUTUBE NEWS PROVIDER -->
        <provider
            android:name="org.mtransit.android.commons.provider.YouTubeNewsProvider"
            android:authorities="@string/youtube_authority"
            android:exported="true"
            android:readPermission="${permission_provider_read}"
            tools:ignore="MissingRegistered">
            <meta-data
                android:name="@string/news_provider"
                android:value="@string/news_provider" />
            <meta-data
                android:name="@string/news_provider_target"
                android:value="@string/youtube_target_for_poi_authority" />
        </provider>
    </application>
</manifest>