name: MT build
on:
  workflow_dispatch: # manual
  workflow_call: # re-use (called from submodule build workflow)
  pull_request:
  push:
    branches:
      # - '**' # ALL
      - 'master'
      # TODO 'develop', 'main'?
# gh workflow run mt-build.yml --ref <branch>
# gh run list --workflow=mt-build.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.head_ref }}
  cancel-in-progress: true
env:
  MT_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  MT_TARGET_BRANCH_NAME: ${{ github.base_ref || github.ref_name }}
  MT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}

jobs:

  MT-SELECT-BRANCH-JOB:
    name: "MT Select branch"
    runs-on: ubuntu-latest
    outputs:
      mt_checkout_branch: ${{ steps.mt-select-branch.outputs.mt_checkout_branch }}
    steps:
      - name: MT select main repo checkout branch
        id: mt-select-branch
        env:
          GH_TOKEN: ${{ github.token }} # GitHub CLI in a GitHub Actions workflow
        run: |
          REPOSITORY_OWNER_AND_NAME=${{ github.repository }};
          REPOSITORY_NAME=$(basename $REPOSITORY_OWNER_AND_NAME);
          if [ $REPOSITORY_OWNER_AND_NAME = "mtransitapps/mtransit-for-android" ]; then
            CHECKOUT_BRANCH="" # defaults to the reference or SHA for that event
          else
            MAIN_REPO_URL="https://github.com/mtransitapps/mtransit-for-android.git"
            BRANCH_EXISTS=$(git ls-remote --heads $MAIN_REPO_URL $MT_BRANCH_NAME | wc -l);
            if [ $BRANCH_EXISTS -eq 1 ]; then
              CHECKOUT_BRANCH=$MT_BRANCH_NAME
            else
              # Pull request target branch with same name?
              BRANCH_EXISTS=$(git ls-remote --heads $MAIN_REPO_URL $MT_TARGET_BRANCH_NAME | wc -l);
              if [ $BRANCH_EXISTS -eq 1 ]; then
                CHECKOUT_BRANCH=$MT_TARGET_BRANCH_NAME
              else
                echo "WARNING: no match for current or target branch!!!"
                DEFAULT_REPO_BRANCH=$(gh api repos/mtransitapps/mtransit-for-android --jq '.default_branch');
                CHECKOUT_BRANCH=$DEFAULT_REPO_BRANCH
              fi
            fi
          fi
          echo "Checkout branch: '$CHECKOUT_BRANCH'."
          echo "mt_checkout_branch=$CHECKOUT_BRANCH" >> "$GITHUB_OUTPUT"

  MT-TEST-JOB:
    name: "MT Test"
    needs: MT-SELECT-BRANCH-JOB
    runs-on: ubuntu-latest
    steps:

      - name: MT check out main repo
        uses: actions/checkout@v6
        with:
          repository: mtransitapps/mtransit-for-android
          ref: ${{ needs.MT-SELECT-BRANCH-JOB.outputs.mt_checkout_branch }}
          submodules: true # required to set right token
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup

      - name: MT test
        run: ./test_only.sh
      - name: MT artifact > tests XML results
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: test-xml-results
          path: |
            */build/test-results/**/*.xml
            */build/test-results/*.xml
            */build/reports/*.xml
      - name: MT artifact > HTML reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: test-html-reports
          path: |
            */build/reports/
            !**/*.xml

  MT-LINT-JOB:
    name: "MT Lint"
    needs: MT-SELECT-BRANCH-JOB
    runs-on: ubuntu-latest
    steps:

      - name: MT check out main repo
        uses: actions/checkout@v6
        with:
          repository: mtransitapps/mtransit-for-android
          ref: ${{ needs.MT-SELECT-BRANCH-JOB.outputs.mt_checkout_branch }}
          submodules: true # required to set right token
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup

      - name: MT lint
        run: ./lint_only.sh
      - name: MT artifact > lint XML results
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: lint-xml-results
          path: |
            */build/reports/*.xml
      - name: MT artifact > lint HTML reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: lint-html-reports
          path: |
            */build/reports/
            !**/*.xml

  MT-ASSEMBLE-JOB:
    name: "MT Assemble"
    needs: MT-SELECT-BRANCH-JOB
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:

      - name: MT check out main repo
        uses: actions/checkout@v6
        with:
          repository: mtransitapps/mtransit-for-android
          ref: ${{ needs.MT-SELECT-BRANCH-JOB.outputs.mt_checkout_branch }}
          submodules: true # required to set right token
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup

      - name: MT assemble release (APK & ABB)
        run: ./assemble_release.sh
        env:
          MT_ENCRYPT_KEY: ${{ secrets.MT_ENCRYPT_KEY }}
      - name: MT artifact > app-android > APK & ABB
        uses: actions/upload-artifact@v6
        with:
          name: app-android-apk-bundle
          path: |
            app-android/build/outputs/apk
            app-android/build/outputs/bundle
