name: MT sync code
on:
  workflow_dispatch: # manual
# gh workflow run mt-sync-code.yml --ref <branch>
# gh run list --workflow=mt-sync-code.yml
# gh run watch ; gh browse --branch <branch>
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  MT_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  MT_TARGET_BRANCH_NAME: ${{ github.base_ref || github.ref_name }}
  MT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
  # git commit & push
  MT_ORG_GIT_COMMIT_ON: ${{ secrets.MT_ORG_GIT_COMMIT_ON }}
  MT_ORG_GIT_COMMIT_OFF: ${{ secrets.MT_ORG_GIT_COMMIT_OFF }}
  MT_GIT_COMMIT_ON: ${{ secrets.MT_GIT_COMMIT_ON }}
  MT_GIT_COMMIT_OFF: ${{ secrets.MT_GIT_COMMIT_OFF }}
  # push to store
  MT_ORG_PUSH_STORE_ON: ${{ secrets.MT_ORG_PUSH_STORE_ON }}
  MT_ORG_PUSH_STORE_OFF: ${{ secrets.MT_ORG_PUSH_STORE_OFF }}
  MT_PUSH_STORE_ON: ${{ secrets.MT_PUSH_STORE_ON }}
  MT_PUSH_STORE_OFF: ${{ secrets.MT_PUSH_STORE_OFF }}
  # push to store > alpha
  MT_ORG_STORE_ALPHA_ON: ${{ secrets.MT_ORG_STORE_ALPHA_ON }}
  MT_ORG_STORE_ALPHA_OFF: ${{ secrets.MT_ORG_STORE_ALPHA_OFF }}
  MT_STORE_ALPHA_ON: ${{ secrets.MT_STORE_ALPHA_ON }}
  MT_STORE_ALPHA_OFF: ${{ secrets.MT_STORE_ALPHA_OFF }}
  # push to store > private beta
  MT_ORG_STORE_BETA_PRIVATE_ON: ${{ secrets.MT_ORG_STORE_BETA_PRIVATE_ON }}
  MT_ORG_STORE_BETA_PRIVATE_OFF: ${{ secrets.MT_ORG_STORE_BETA_PRIVATE_OFF }}
  MT_STORE_BETA_PRIVATE_ON: ${{ secrets.MT_STORE_BETA_PRIVATE_ON }}
  MT_STORE_BETA_PRIVATE_OFF: ${{ secrets.MT_STORE_BETA_PRIVATE_OFF }}
  # push to store > production
  MT_ORG_STORE_PRODUCTION_ON: ${{ secrets.MT_ORG_STORE_PRODUCTION_ON }}
  MT_ORG_STORE_PRODUCTION_OFF: ${{ secrets.MT_ORG_STORE_PRODUCTION_OFF }}
  MT_STORE_PRODUCTION_ON: ${{ secrets.MT_STORE_PRODUCTION_ON }}
  MT_STORE_PRODUCTION_OFF: ${{ secrets.MT_STORE_PRODUCTION_OFF }}
jobs:
  MT-TEST-JOB:
    name: "MT Test"
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: MT check out main repository code (no submodules)
        uses: actions/checkout@v6
        with:
          submodules: true # required to set right token
          token: ${{ secrets.MT_PAT }}
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup
        with:
          code-sync: true

      - name: MT test
        run: ./test_only.sh
      - name: MT artifact > tests XML results
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: test-xml-results
          path: |
            */build/test-results/**/*.xml
            */build/test-results/*.xml
            */build/reports/*.xml
      - name: MT artifact > HTML reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if tests fails
        with:
          name: test-html-reports
          path: |
            */build/reports/
            !**/*.xml

  MT-LINT-JOB:
    name: "MT Lint"
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: MT check out main repository code (no submodules)
        uses: actions/checkout@v6
        with:
          submodules: true # required to set right token
          token: ${{ secrets.MT_PAT }}
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup
        with:
          code-sync: true

      - name: MT lint
        run: ./lint_only.sh
      - name: MT artifact > lint XML results
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if lint fails
        with:
          name: lint-xml-results
          path: |
            */build/reports/*.xml
      - name: MT artifact > lint HTML reports
        uses: actions/upload-artifact@v6
        if: ${{ always() }} # even if lint fails
        with:
          name: lint-html-reports
          path: |
            */build/reports/
            !**/*.xml

  MT-SYNC-CODE-JOB:
    name: "MT Sync Code"
    needs: [MT-TEST-JOB, MT-LINT-JOB]
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: MT check out main repository code (no submodules)
        uses: actions/checkout@v6
        with:
          submodules: true # required to set right token
          token: ${{ secrets.MT_PAT }}
          fetch-depth: 0 # fetch all (not required util release build)
      - name: MT setup
        id: mt-setup
        uses: ./.github/actions/setup
        with:
          code-sync: true

      - name: MT commit code change
        run: ./commit_code_change.sh
      - name: MT push commits
        run: ./push_commits.sh
      - name: MT commit data change
        run: ./commit_data_change.sh
      - name: MT set app release required
        run: |
          mkdir -p .mt;
          # SKIP assemble (will be done after sync w/ target branch)
          echo "false" > .mt/mt_app_release_required;
      - name: MT assemble release (APK & ABB)
        run: ./assemble_release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.MT_PAT }}
          MT_ENCRYPT_KEY: ${{ secrets.MT_ENCRYPT_KEY }}
      - name: MT artifact > app-android > APK & ABB
        uses: actions/upload-artifact@v6
        with:
          name: app-android-apk-bundle
          path: |
            app-android/build/outputs/apk
            app-android/build/outputs/bundle
      - name: MT push commits
        run: ./push_commits.sh
